{% load static %}
<p>Hello {{ user.username }},</p>
<p>You're receiving this email because you requested a password reset for your user account at {{ domain }}.</p>
<p>Please go to the following page and choose a new password:</p>
<p><a href="http://{{ domain }}{% url 'reset_password' uidb64=uid token=token %}">http://{{ domain }}{% url 'reset_password' uidb64=uid token=token %}</a></p>
<p>Your username, in case you've forgotten: {{ user.username }}</p>
<p>Thanks for using our  <b>WOODCREST</b></p>
<p>The {{ domain }} team</p>
